<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD8fc9jmIhUpZS9RYpjLjxvTFlnaEKeL0</string>
	<key>GCM_SENDER_ID</key>
	<string>782732546078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alsakasoftware.iosboilerplateproject</string>
	<key>PROJECT_ID</key>
	<string>iosboilerplateproject</string>
	<key>STORAGE_BUCKET</key>
	<string>iosboilerplateproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782732546078:ios:6dafc90b4be39d9f8ede0f</string>
</dict>
</plist>